/*=======Large version===========*/
@media screen and (max-width: 1170px) {
    .search_content {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .search_content input {
        display: none;
    }
    .profile_section ul li:nth-child(3){
        display: flex;
    }
    .profile_section ul li:nth-child(1){
        display: none;
    }
    .profile_section ul li:nth-child(2){
        display: none;
    }

    nav ul li:last-child {
        display: flex;
    }
    .group {
        display: none;
    }
    .left_side {
        display: none ;
    }
}



/*============laptop,tablet version===========*/
@media screen and (max-width: 992px) {
    nav {
        display: none;
    }
    .menu_toggler {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu_toggler  span {
        color: #fff;
        font-size: 18px;
        margin-left: 15px;
    }
    .right_side {
        display: none;
    }
    .middle_side {
        margin: 0 auto;
        text-align: center;
    }
    
}



/*=====================================*/
@media screen and (max-width: 768px) {
    .create_room ul li:nth-child(11) {
        display: none;
    }
    .create_room ul li:nth-child(10) {
        display: none;
    }
}



/*==============mobile version===================*/
@media screen and (max-width: 589px) {
    .middle_side {
        margin: 0 auto;
        text-align: center;
    }
    .story_content {
        min-width: 80px;
    }
    .story_content:nth-child(5) {
       display: none;
    }

    .create_room .post_create {
        max-width: 300px;
    }

    .post_create .bottom_section ul li {
        padding: 5px 5px;
        font-size: 10px;
    }

    .create_room ul li:nth-child(9) {
        display: none;
    }

    .create_room ul li:nth-child(8) {
        display: none;
    }

    .create_room ul li:nth-child(7) {
        display: none;
    }

    .create_room ul li:nth-child(6) {
        display: none;
    }

    .create_room ul li:nth-child(5) {
        display: none;
    }

    .create_room ul li:nth-child(4) {
        display: none;
    }
}