/*=======common style=========*/
@font-face {
    font-family: segoe;
    src: url('/fonts/Segoe\ UI.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: segoe;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/*=======header style=========*/
header{
    height: 56px;
    display: flex;
    justify-content: space-between;
    background-color: #3e3f41;
    padding: 0 20px 0 20px;
    width:  100%;
    position: fixed;
    top: 0;
    left: 0;
}


/*=======left header=========*/
.search_area, nav ul, .profile_section ul, .profile_section ul li  {
    display: flex;
    align-items: center;
}

.search_area .logo {
    width: 40px;
    height: 40px;
}

.search_area .logo a{
    display: block;
}

.search_area .logo a img{
    width: 100%;
}

.search_content {
    height: 40px;
    width: 240px;
    background-color: #50545a;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-left: 15px;
}

.search_content span {
    width: 25px;
    color: #fff;
    font-size: 22px;
}

.search_content input {
    flex: 1;
    border: 0;
    outline: 0;
    height: 100%;
    background: unset;
    color: #fff;
    font-size: 15px;
}

.search_content input::placeholder {
    color: #fff;
    font-size: 15px;
}

.menu_toggler {
    display: none;
}

/*======middle header========*/
nav ul li a{
    padding: 10px 40px;
    /* margin-top: 4px; */
    border-radius: 8px;
    transition: 0.3s;
    display: inline-block;
    position: relative;
}

nav ul li:last-child {
    display: none;
}

nav ul li a:hover {
    background: #4f5050;
}

nav ul li a::after {
    content: attr(data-tag);
    background-color: #d6d4d4;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(20, 18, 18);
    text-align: center;
    font-size: 14px;
    border-radius: 8px;
    padding: 8px 20px;
    display: none;
    height: 20px;
    width: 50px;
}

nav ul li a:hover::after {
    display: block;
}

nav ul li  span{
    color: #fff;
    font-size: 30px;
}

nav ul li:first-child a{
    border-bottom: 3px solid #2374e1;
    padding-bottom: 12px 40px;
}

nav ul li:first-child a span {
    color: #2374e1;
}

nav ul li:first-child a:hover {
    background:  unset;
    border-radius: unset;
}

/* li[data-tag="Watch"] a{
    position: relative;
}

li[data-tag="Watch"] a::after{
    content: attr(data-notification);
    background: red;
    border-radius: 45px;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 13px;
    padding: 0 5px;
} */


/*========right header==========*/
.profile_section ul li {
    margin: 8px 10px;
    background: #4f5050;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  0.3s;
}

.profile_section ul li:hover {
    background: #727272;
}

.profile_section ul li span, .profile_section ul li i {
    color: #fff;
    cursor: pointer;
    font-size: 22px;
}

.profile_section ul li:nth-child(3){
    display: none;
}

.profile_section ul li:first-child img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 5px;
}

.profile_section ul li:first-child {
    color: #fff;
    padding: 5px;
    border-radius: 25px;
    transition: 0.3s;
    cursor: pointer;
    width: unset;
    height: unset;
    background: unset;
}

.profile_section ul li:first-child:hover {
    background: #4f5050;
}


/*========main common style===============*/
main {
    max-width: 1464px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #1c1e21;
}

.left_side, .right_side {
    flex-basis: 330px;
    height: 100vh;
    padding-top: 56px;
}

.middle_side {
    flex-flow: 1;
    height: 100vh;
    /* min-width: 804px; */
    overflow: auto;
    padding: 75px 32px 0 32px;
}


/*======left side========*/
.left_side, .right_side {
    padding: 75px 15px 0 15px;
    background: #1c1e21;
    overflow: auto;
}

.left_side_menu {
    width: 100%;
    margin-bottom: 15px;
}

.left_side_menu li {
    color: #fff;
    border-radius: 6px;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.left_side_menu li a{
    color: #fff;
    display: flex;
    align-items: center;
    padding: 8px 5px;
}

.left_side_menu li:hover {
    background-color: #3A3B3C;
}


.left_side_menu li a img{
    height: 28px;
    width: 28px;
    margin-right: 8px;
}

.left_side_menu li:first-child img{
    border-radius: 50%;
}

.left_side_menu li:last-child {
    padding: 8px 5px;
}

.left_side_menu li:last-child div {
    margin-right: 8px;
    height: 28px;
    width: 28px;
    background: #4F5050;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 3px;
}

.separate_div {
    width: 100%;
    height: 1px;
    background-color: #4f5050;
}

.shortcut_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.shortcut_title h3 {
    font-size: 16px;
    font-weight: 600;
    color: #b0b3b8;
    height: 30px;
    display: flex;
    align-items: center;
}

.shortcut_title button {
    display: none;
    font-weight: 500;
    color: rgb(12, 76, 224);
    background-color: unset;
    border: 0;
    outline: 0;
    padding: 7px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.shortcut_title:hover button {
    display: block;
}

.shortcut_title button:hover {
    background-color: #4f5050;
    color: rgb(3, 31, 94);
}


/*=======lest side scrollbar========*/
/* width */
::-webkit-scrollbar {
    width: 8px;
    
}

/* Track */
::-webkit-scrollbar-track {
    background: unset;
}

::-webkit-scrollbar-track:hover {
    background: #363636;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #444444;
    border-radius: 25px;
    display: none;
} 

::-webkit-scrollbar-thumb:hover {
    background: rgb(116, 116, 116);
} 

.left_side:hover::-webkit-scrollbar-thumb {
    display: block;
}


.second_left li a img {
    border-radius: 6px;
}

.footer_text {
    margin-bottom: 22px;
}

.footer_text a {
    font-size: 12px;
    font-weight: 500;
    color: #adadad;
}

.footer_text a span {
    transform: translateY(7px);
}


/*=======middle side==========*/
.story_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-top: 12px;
}

.story_content {
    height: 220px;
    width: 19%;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.create_story {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.story_profile {
    width: 100%;
    flex-grow: 1;
}

.story_profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.create_story .bottom_story {
    flex-basis: 50px;
    background: #18191A;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.create_story .bottom_story h5 {
    color: #e7e6e6;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}

.create_btn {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    background: #2374e1;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #1c1e21;
}

.create_btn span {
    color: #e7e6e6;
}

.story_avatar {
    position: absolute;
    width: 27px;
    height: 27px;
    left: 10px;
    top: 10px;
    z-index: 1;
}

.story_avatar img {
    border-radius: 50%;
    border: 3px solid #2374e1;
}

.story_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

.story_content:hover .story_img {
    transform: scale(1.1);
}

.story_profile:hover img {
    transform: scale(1.1);
}

.avatar_name h4 {
    position: absolute;
    bottom: 0;
    left: 0;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
    display: -webkit-box;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 400;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 2%;
    width: 98%;
}

.more_story {
    position: absolute;
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
    background: #4F5050;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.more_story span {
    color: #d6d4d4;
} 

.post_create {
    background-color: #242526;
    max-width: 650px;
    margin: 24px auto;
    padding: 10px;
    border-radius: 8px;
}

.post_create .top_section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post_create .top_section .post_profile {
    width: 35px;
    height: 35px;
}

.post_create .top_section .post_profile img {
    width: 100%;
    border-radius: 50%;
}

.post_create .top_section input {
    flex: 1;
    border-radius: 25px;
    border: 0;
    outline: 0;
    background: #353636;
    padding: 10px;
    margin-left: 10px;
}

.post_create .top_section input::placeholder {
    color: #adadad;
    font-size: 14px;
    font-weight: 400;
}

.post_create .bottom_section {
    margin-top: 8px;
}

.post_create .bottom_section ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.post_create .bottom_section ul li{
    display: flex;
    cursor: pointer;
    background: unset;
    padding: 5px 25px;
    color:#d6d4d4;
}

.post_create .bottom_section ul li:hover {
    background: #4F5050;
    border-radius: 5px;
}

.post_create .bottom_section ul li:nth-child(1) span{
    color: rgb(244, 85, 111);
}

.post_create .bottom_section ul li:nth-child(2) span{
    color: rgb(88, 196, 114);
}

.post_create .bottom_section ul li:nth-child(3) span{
    color: rgb(244, 182, 40);
}

.post_create .bottom_section ul li span{
    margin-right: 4px;
}

.create_room {
    background-color: #242526;
    max-width: 650px;
    margin: 24px auto;
    padding: 10px 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: relative;
}

.create_room_btn {
    background: rgb(58, 59, 60);
    cursor: pointer;
    margin-right: 10px;
    color: #2374e1;
}

.create_room_btn img {
    margin-right: 5px;
    padding: 3px;
}

.create_room ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

.create_room ul li .contact_profile {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.create_room ul li .contact_profile img{
    width: 100%;
    border-radius: 50%;
}

.create_room_btn {
    display: flex;
    align-items: center;
    outline: 0;
    border: 2px solid #2374e1;
    padding: 5px 10px;
    border-radius: 25px;
}

.more_contact_btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    outline: 0;
    background: #3A3B3C;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.more_contact_btn span {
    color: #f1eeee;
    font-size: 24px;
    font-weight: 400;
   
}

.post_box {
    background: rgb(36, 37, 38);
    padding: 5px 15px;
    border-radius: 8px;
    max-width: 650px;
}

.user_post {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user_post .user_profile {
    display: flex;
    align-items: center;
    
}

.user_post .user_profile .user_img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
}

.user_post .user_profile .user_img img {
    width: 100%;
    border-radius: 50%;
}

.user_post .user_profile .user_name {
    margin-left: 8px;
}

.user_post .user_profile .user_name a h5 {
    font-size: 16px;
    color: #d6d4d4;
    font-weight: 400;
    cursor: pointer;
}

.user_post .user_profile .user_name .post_time {
    display: flex;
    align-items: center;
}

.user_post .user_profile .user_name .post_time p {
    color: #727272;
    font-size: 12px;
}

.user_post .user_profile .user_name .post_time span {
    color: #adadad;
    font-size: 14px;
}

.user_post .more_post {
    background: unset;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ;
}

.user_post .more_post:hover {
    background: #50545a;
}

.user_post .more_post span {
    color: #d6d4d4;
}

.post_box .post_text {
    margin-top: 5px;
}

.post_box .post_text p {
    color: #d6d4d4;
    font-size: 14px;
}

.post_box .post_text .post_img {
    margin-top: 10px;
    width: 600px;
    height: 600px;
}

.post_box .post_text .post_img  img {
    width: 100%;
    text-align: center;
}

/*=======right side==========*/
.birthday_event {
    background: rgba(66, 66, 66, 0.7);
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.birthday_left {
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

.birthday_left h4 {
    display: flex;
    align-items: center;
    color: #f1eeee;
    font-size: 14px;
    font-weight: 500;
}

.birthday_left img {
    margin-right: 8px;
}

.birthday_right{
    color: #fff;
    background: unset;
    border: 0;
    outline: 0;
    width: 30px;
    height: 30px;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.birthday_right:hover{
    background: rgba(202, 201, 201, 0.35);
}

.birthday_bottom {
    margin: 10px 0;
}

.birthday_bottom a {
    font-size: 14px;
    font-weight: 500;
    color: #e7e6e6;
}

.sponsored_item {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: unset;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.sponsored_item:hover {
    background: rgba(66, 66, 66, 0.7);
}

.sponsor_img {
    max-width: 130px;

}

.sponsor_img img {
    width: 100%;
    border-radius: 6px;
}

.sponsor_title h5 {
    font-size: 14px;
    font-weight: 600;
    color: #e7e6e6;
}

.sponsor_title p a {
    font-size: 12px;
    font-weight: 400;
    color: #e7e6e6;
    cursor: pointer;
}

.right_menu li a img {
    border-radius: 50%;
}

.contact_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_icons {
    display: flex;
    align-items: center;
}

.contact_icons div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    background: unset;
    padding: 6px;
}

.contact_icons div:hover {
    border-radius: 35px;
    background: rgba(202, 201, 201, 0.35);
}

.contact_icons div span {
    color: #d6d4d4;
    cursor: pointer;
    font-size: 24px;
}

.right_menu li:last-child {
    padding: unset;
}

/*=======right side scrollbar========*/
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: unset;
}

::-webkit-scrollbar-track:hover {
    background: #363636;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #444444;
    border-radius: 25px;
    display: none;
} 

::-webkit-scrollbar-thumb:hover {
    background: rgb(116, 116, 116);
} 

.right_side:hover::-webkit-scrollbar-thumb {
    display: block;
}